body{
    margin: 0;
    font-family: sans-serif;
    background: #1f1f1f ;
}

.center {
    height: 10em;
    position: relative;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%); 
    color: white;
}






.login-button {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 20px;
    background-color: lightgray;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .signup-button {
    position: absolute;
    top: 0;
    left: 70px;
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .logout-button {
    position: absolute;
    top: 0;
    left: 200px;
    padding: 10px 20px;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .favorites {
    position: absolute;
    top: 0;
    right: 0;
    width: 150px;
    background-color: lightgray;
    padding: 10px;
    border-radius: 5px;
  }

  .favorites h2 {
    margin: 0;
  }

  .favorites a {
    display: block;
    margin: 10px 0;
    text-decoration: none;
    color: black;
  }

.user-info {
    list-style: none;
    margin: 0;
    padding: 0;
}
.user-info li {
    display: inline-block;
    margin: 0;
    padding: 0 10px 0 0;
}


.user {
  position: absolute;
  top: 0;
  left: 50;
  width: 150px;
  background-color: rgb(231, 8, 8);
  padding: 10px;
  border-radius: 5px;
}